/projects/vs/**/Debug
/projects/vs/**/.vs
/projects/vs/**/x64
/projects/vs/**/*.user
/projects/vs/**/*.amplxeproj

/build
/tpls
/my_tpls_vc_build.bat
/scripts/mingw/build
/build_config.hpp
/scripts/docker-build-image/*.bz2
/scripts/docker/build
/workdirs/**/.*
/workdirs/tests/logs
/workdirs/tests/*_test

/workdirs/angel/logs


