/projects/vs/Debug
/projects/vs/test/.vs
/projects/vs/test/Debug
/projects/vs/test/x64
/projects/vs/test/*.user
/projects/vs/x64
/projects/vs/.vs
/projects/vs/angel/*.user
/projects/vs/angel/x64
/build
/tpls
/my_tpls_vc_build.bat
/scripts/mingw/build
/build_config.hpp
/scripts/docker-build-image/*.bz2
/scripts/docker/build
/workdirs/tests/.*
/workdirs/tests/logs
/workdirs/tests/*_test

