/projects/vs/**/Debug
/projects/vs/**/.vs
/projects/vs/**/x64
/projects/vs/**/*.user
/projects/vs/**/*.amplxeproj
/**/.DS_Store

/build
/tpls

/build_config.hpp
/scripts/docker-build-image/*.bz2

/scripts/**/build
/workdirs/**/.*
/workdirs/tests/logs
/workdirs/tests/*_test

/workdirs/angel/logs
/my_tpls_vc_build.bat
